body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* <!--********************* NAV ********************* --> */
li, a, button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #edf0f1;
  /* text color in nav */
  text-decoration: none;
  /* not underlined text */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5%;
  /* height and corners */
  background-color: #24252A;
}

.logo {
  cursor: pointer;
  height: auto;
  width: 130px;
}
/* my logo */


/* .nav_links {
  list-style: none;
} */

.watch {
  width: 70%;
  height: auto;
}

.nav_links li {
  display: inline-block;
  /* list inline */
  padding: 0 50px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  /* color: #0088a9; */
  color: #e91e63;
}

button {
  padding: 9px 25px;
  background-color: #e91e63;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* display: flex; */
  /* justify-content: space-between; */
}

button:hover {
  background-color: #e8ccd7;
}

/* <!--********************* NAV ********************* --> */
.img-iphone {
  width: 100%;
  height: auto;
}

/* <!-- ********************* apple watch********************* --> */
.apple-watch {
  text-align: center;
}

.apple-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  cursor: pointer;
}

.apple-h1:hover {
  color: #C41E3A;
}

.apple-h3 {
  color: #C41E3A;
  font-size: 25px;
}

.apple-p {
  font-size: 18px;
  padding: 10px 150px;
}

.apple-b {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px auto;
}

.apple-img {
  width: 50%;
  height: auto;
}

/* <!--********************* apple watch********************* --> */
.top {
  margin: 20px auto 30px auto;
  text-align: center;
  font-size: 40px;
}

/* <!--********************* Iphone********************* --> */
.iphone {
  width: 90%;
  margin: 50px 0 100px 40px;
  text-align: left;
  line-height: 2;
}

.iphone-img {
  width: 35%;
  float: left;
  margin-right: 30px;
  height: auto;
}

.iphone-h3 {
  color: #C41E3A;
  font-size: 25px;
}

.iphone-p {
  cursor: pointer;
}

.iphone-b {
  margin-top: 6px;
}

/* <!--********************* Iphone ********************* --> */
/* <!--********************* hor rule ********************* --> */
hr {
  border: 0.1px solid #C41E3A;
}

/* <!--********************* hor rule ********************* --> */
/* <!--********************* EVENT ********************* --> */
.event-img {
  width: 35%;
  float: left;
  margin-right: 30px;
  height: auto;
}

.event {
  width: 90%;
  margin: 50px 0 170px 40px;
  text-align: left;
  line-height: 2;
}

/* <!--********************* EVENT ********************* --> */
/* <!--********************* IOS ********************* --> */
.ios-img {
  width: 35%;
  float: left;
  margin-right: 30px;
  height: auto;
}

.ios {
  width: 90%;
  margin: 50px 0 170px 40px;
  text-align: left;
  line-height: 2;
}

/* <!--********************* IOS ********************* --> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  max-width: 90%;
  /* width of nav */
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* ul {
  list-style: none;
} */
/* removes list dots */
.footer {
  background-color: #24252A;
  padding: 60px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 40px;
  /* margin between text list */
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  bottom: -8px;
  background-color: #e91e63;
  height: 2px;
  width: 100px;
/* pink line */
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #e91e63;
  padding-left: 8px;
  /* make footer text left */
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #e91e63;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
